@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  color: white;
  opacity: 1;
  background-color: var(--rdp-accent-color) !important;
}
